/***************************
****************************
Reset Styles
****************************
***************************/
@import 'normalize.css';

html {
  box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}
/***************************
****************************
Base Styles
****************************
***************************/


/***************************
****************************
Layout Styles
****************************
***************************/


/***************************
****************************
Module Styles
****************************
***************************/


/***************************
****************************
Theme Styles
****************************
***************************/
.background-primary {
  background: #F7941E; /*Orange*/
}
.background-secondary {
  background: #00AEEF; /*Blue*/
}
.background-tertiary {
  background: #8DC63F; /*Green*/
}